
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box{
    width: 100px;
    height: 100px;
    background: crimson;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
